@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300;400&display=swap');
.img {
    width: 600%;
}

#img1 {
    width: 100%;
}

.container-fluid {
    padding: 0 !important;
    margin: -20 !important;
}

body {
    overflow-y: none;
}

.btn-danger {
    position: absolute;
    top: 70%;
    left: 30%;
    background-color: red!important;
}

.btn-primary {
    position: absolute;
    top: 70%;
    left: 23%;
}

@media (max-width: 1400px) {
    .btn {
        display: none;
    }
}

@media (max-width: 1000px) {

    .preview-wrapper {
        position: relative;
        right: -12px;
        top: -421px;
    }
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

     .preview-wrapper {
        position: relative;
        right: -12px;
        top: -421px;
    }
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .preview-wrapper {
        position: relative;
        right: -12px;
        top: -416px;
    }
}


/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .preview-wrapper {
        position: relative;
        right: -12px;
        top: -476px;
    }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .preview-wrapper {
        position: relative;
        right: -12px;
        top: -476px;
    }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 647px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .preview-wrapper {
        position: relative;
        right: -12px;
        top: -476px;
    }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 411px) 
  and (max-device-width: 750px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .preview-wrapper {
        position: relative;
        right: -12px;
        top: -397px;
    }
}

.tab-wrapper {
    text-align: center;
    width: 100%;
    border: 1px;
    padding: 50px;
    margin: 0px;
    background-color: azure;
}

.my-form {
    margin: 10px;
}

.wrapper {
    margin: 20px;
    padding: 10px;
    width: 40%;
    background-color: lightskyblue;
    border-radius: 5px;
    box-shadow:5px 7px 5px grey; 
}
label {
    margin-bottom: 5px;
}
.custom-btn {
    margin-top: 10px;
}

.btn-style {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.form-group {
    margin: 10px;
}

#files {
    margin: 5px;
}

.preview-wrapper {
    margin: 20px;
    padding: 10px;
    width: 54%;
    background-color: lightskyblue;
    border-radius: 5px;
    float: right;
    position: relative;
    bottom: 436px;
    box-shadow:5px 7px 5px gray;
}

.files {
    margin: 10px;
}

.img-list {
    margin: 2px;
    border-radius: 10px;
}

.img-list:hover {
    opacity: 0.4;
    transition: opacity 1s;
    display: block;
    
}

.container {
    position: relative;
}

.img-ins {
    color: red;
    font-weight: bold;
}



/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }