<!DOCTYPE html>
<div class="container-fluid">
    <div class="image" id="targetTop">
        <div class="wrapper">
            <div class="row">
                <div class="col">
                    <h4>Manage Content</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form class="my-form" [formGroup]="myForm" (ngSubmit)="onSubmit()" method="POST">
                        <div class="form-group">
                            <label for="des"><b>Describe Our Work</b></label>
                            <textarea class="form-control" id="des" rows="5" required formControlName="description"></textarea>
                            <div *ngIf="submitted && fval.description.errors">
                                <div *ngIf="fval.description.errors.required" style="color: red;margin: 5px;">
                                    It is a required field
                                </div>
                            </div>
                        </div>

                        <div class="form-group custom-btn">
                            <button type="submit" class="btn-style">Submit</button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>

        <div class="wrapper" id="targetEdit">
            <div class="row">
                <div class="col">
                    <h4>Manage Creative Content</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form class="my-form" [formGroup]="myFilmForm" (ngSubmit)="onSubmit_content()" method="POST">
                        <div class="form-group">
                            <label for="type"><b>Content Type</b></label>
                            <select class="form-control" id="type" formControlName="contentType">
                                <option value="none">Select</option>
                                <option *ngFor="let type of contentTYpe" [ngValue]="type.id">{{type.value}}</option>
                            </select>
                            <div *ngIf="submitted_films && flval.genre.errors">
                                <div *ngIf="flval.genre.errors.required" style="color: red;margin: 5px;">
                                    It is a required field
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="genre"><b>Genre</b></label>
                            <input type="text" id="grnre" class="form-control" required formControlName="genre">
                            <div *ngIf="submitted_films && flval.genre.errors">
                                <div *ngIf="flval.genre.errors.required" style="color: red;margin: 5px;">
                                    It is a required field
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="shortdes"><b>Short Description</b></label>
                            <textarea class="form-control" id="shortdes" rows="3" required formControlName="shortdes"></textarea>
                            <div *ngIf="submitted_films && flval.shortdes.errors">
                                <div *ngIf="flval.shortdes.errors.required" style="color: red;margin: 5px;">
                                    It is a required field
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="shortdes"><b>Youtube Link</b></label>
                            <textarea class="form-control" id="shortdes" rows="3" formControlName="youtubeLink"></textarea>
                            <div *ngIf="submitted_films && flval.youtubeLink.errors">
                                <div *ngIf="flval.youtubeLink.errors.required" style="color: red;margin: 5px;">
                                    It is a required field
                                </div>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="!isEdit">
                            <label for="files"><b>Upload Film's Poster</b></label>
                            <input type="file" name="uploadfile" (change)="upload($event)" accept=".png,.jpg" id="img" style="display:none;"/>
                            <label for="img"> 
                                <img class="files" src="assets/img/upload.png" height="20px" width="20px" />
                            </label>
                            <span class="img-ins">Max image size 5 Mb</span>
                        </div>

                        <div class="form-group" *ngIf="isEdit">
                            <label for="files"><b>Update Film's Poster</b></label>
                            <input type="file" name="uploadfile" (change)="upload($event)" accept=".png,.jpg" id="img" style="display:none;"/>
                            <label for="img"> 
                                <img class="files" src="assets/img/upload.png" height="20px" width="20px" />
                            </label>
                            <span class="img-ins">Max image size 5 Mb</span>
                        </div>

                        <div class="form-group custom-btn">
                            <button type="submit" class="btn-style">Submit</button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>

        <div class="content-list">
            <div class="row">
                <div class="col">
                    <h4>List of Contents</h4>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table">
                            <thead align="center">
                                <th>#</th>
                                <th>Poster</th>
                                <th>Content Type</th>
                                <th>Genre</th>
                                <th>Desription</th>
                                <th>Youtube Link</th>
                                <th>Action</th>
                            </thead>
                            <tbody align="center">
                                <tr *ngFor="let content of contentList; let i=index">
                                    <td>{{i+1}}</td>
                                    <td><img class="poster" src="{{content.posterImgUrl}}" alt="poster" /></td>
                                    <td>{{content.contentType}}</td>
                                    <td>{{content.genre}}</td>
                                    <td>{{content.shortdes}}</td>
                                    <td>
                                        <a mat-icon-button href="{{content.youtubeLink}}" class="btn-preview"  target="_blank" >
                                            <mat-icon>open_in_new</mat-icon>
                                        </a>
                                    </td>
                                    <td>
                                        <a mat-icon-button (click)="openSnackBar(content)" ><mat-icon>delete</mat-icon></a> |
                                        <a mat-icon-button (click)="loadContent(content)"><mat-icon>edit</mat-icon></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bgColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Please Wait...</p>
</ngx-spinner>
