<!DOCTYPE html>
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="assets/img/intro/Nameless logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top"> NAMELESS <span class="admin"> Admin</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item ">
                    <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="myactive" [routerLinkActiveOptions]="{exact : true}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/about" routerLinkActive="myactive"> Manage Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/works" routerLinkActive="myactive"> Manage Our Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/gallery" routerLinkActive="myactive"> Manage Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/team" routerLinkActive="myactive"> Manage Teams </a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<router-outlet></router-outlet>