<!DOCTYPE html>
<div class="container-fluid">
    <div class="image">
        <div class="tab-wrapper">
            <h4>Details of Visitors</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="tab-wrapper">
            <h4>Details of Changes</h4>
            <div id="chartdiv_bar"></div>
        </div>
        <mat-divider></mat-divider>
        <div class="tab-wrapper">
            <h4>Details of Usages</h4>
            <div id="chartdiv_line"></div>
        </div>
        <mat-divider></mat-divider>
        <div class="tab-wrapper">
          <h4>Details of Login</h4>
          <div class="table-responsive">
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Handle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
    </div>
</div>
